.calculators-page {
    min-width: 100%;
    min-height: calc(100vh - 75px);
    background-color: #1B1B1B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.calculators-calculators-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.calculators-calculators-container > h1 {
    font-size: 48px;
    background: linear-gradient(180deg, #8693AB 0%, #BDD4E7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    margin-bottom: 20px;
    cursor: default;
}

.calculators-calculator-btn {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;

    border-radius: 10px;
    width: 1000px;
    height: 150px;
    max-width: 90vw;
    margin: 10px 0;

    background: rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(42.3px);
    -webkit-backdrop-filter: blur(42.3px);
    border: 1px solid var(--gray-2);
    margin-bottom: 10px;
}

.calculators-calculator-btn:hover {
    background-color: #35353542;
    color: white;
}