.my-journal-page {
    min-width: 100%;
    min-height: 100vh;
    background-color: #1B1B1B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-journal-page #page-header{
    font-weight: 800;
    font-size: 48px;
}

/* TodaysEntry.js */
.my-journal-todays-entry-container {
    width: 1100px;
    max-width: 97vw;
    max-height: 500px;
    background-color: #2B2B2B;
    border-radius: 10px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.my-journal-todays-entry-container-inner {
    background-color: #353535;
    border-radius: 10px;
    margin: 0 20px;

    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    align-self: center;
    padding: 20px;
}

.my-journal-todays-entry-component h1{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
}

.my-journal-todays-entry-menu-container button{
    all: unset;
    cursor: pointer;
    margin: 0 1.5vw;
    padding: 0 2px;
    border-bottom: 1px solid transparent;
}

.my-journal-todays-entry-display {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 180px;
}

/* ViewJournalEntries.js */
.my-journal-view-journal-entries-container {
    width: 1100px;
    min-height: 300px;
    max-width: 97vw;
    max-height: 500px;
    background-color: #2B2B2B;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 0;

    display: grid;
    grid-template-columns: 220px auto;
}

.my-journal-view-journal-entries-component h1{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
}

.my-journal-view-journal-entries-entries-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-height: 100%;
}

.my-journal-view-journal-entries-entries-container button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.my-journal-view-journal-entries-selected-entry-container {
    background-color: #353535;
    border-radius: 10px;
    margin-right: 20px;
    display: grid;
    grid-template-rows: 50px auto;
    justify-content: center;
    height: 100%;
}

.my-journal-view-journal-entries-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.my-journal-view-journal-entries-menu-container button{
    all: unset;
    cursor: pointer;
    margin: 0 1.5vw;
    padding: 0 2px;
    border-bottom: 1px solid transparent;
}

.my-journal-view-journal-entries-selected-entry-display {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 180px;
}