/* default background page layout */

/* transparent gradient on background square */
.protein-intake-calculator-page {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #1B1B1B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.protein-intake-calculator-page > h1#title {
    font-size: 48px;
}

/* background gray square */
.protein-intake-calculator-calculator-component {
    min-width: 500px;
    min-height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #2B2B2B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */

}

.protein-intake-calculator-calculator-inner {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    gap: 90px;
}

.protein-intake-calculator-calculator-left-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.protein-intake-calculator-calculator-right-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.protein-intake-calculator-calculator-component #input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.protein-intake-calculator-calculator-component #title {
    margin-left: 20px;
    font-size: 17px;
}

.protein-intake-calculator-calculator-component input {
    all: unset;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    padding: 10px 15px;
    height: 20px;
    width: 70px;
    border-radius: 5px;
    background-color: #414141;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */

}

.protein-intake-calculator-calculator-calculate-btn {
    all: unset;
    position: absolute;
    bottom: 40px;
    color: black;
    background-color: #2DEDF3;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 12px;
    border-radius: 10px;
}

.protein-intake-calculator-calculator-results-component h1 {
    font-size: 20px;
    font-weight: normal;
}

.protein-intake-calculator-calculator-results-component {
    background-color: #2B2B2B;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */

}

.protein-intake-calculator-calculator-results-component #inner {
    background-color: #414141;
    min-width: 170px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.protein-intake-calculator-calculator-results-component #line {
    background-color: #FFFFFF;
    width: 100%;
    height: 1px;
}

.protein-intake-calculator-calculator-results-component #display-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

.protein-intake-calculator-calculator-results-component button {
    all: unset;
    font-size: 12px;
    cursor: pointer;
}

.protein-intake-calculator-gender-btns > #male {
    
    font-weight: 500;
    font-size: 16px;
    width: 30px;
    height: 30px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin: 0 10px;
}

.protein-intake-calculator-gender-btns > #female {
    font-weight: 500;
    font-size: 16px;
    width: 30px;
    height: 30px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin: 0 10px;
}

.protein-intake-calculator-gender-btns > #male.active,
.protein-intake-calculator-gender-btns > #female.active {
    background-color: #2DEDF3;
}

.protein-intake-calculator-gender-btns {
    position: absolute;
    bottom: 80px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    width: 100%;
}

#activityLevel
{
    /* margin-left: 20px; */
    color: white;
    background-color: #414141;

}

