.nav {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    color: white;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
    border-bottom: 1px solid rgb(59, 59, 59);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left {
    margin-left: 2%;
}

.nav-logo-link {
    all: unset;
    cursor: pointer;
}

.nav-logo-link h1 {
    line-height: 0.95;
    font-weight: 800;
    font-size: 20px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-right: 2%;
}

.nav-dashboard-link {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-dashboard-link p {
    margin-right: 5px;
    font-size: 14px;
}

.nav-dashboard-link #icon {
    font-size: 20px;
}

.menu-wrapper {
    position: relative;
}   

.hamburger-menu {
    display: block;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
    right: 0;   
    top: 7%;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: white;
    border-radius: 4px;
    opacity: 1;
    right: 0;
    transform: rotate(0deg);
    transition: 0.20s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 0;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
    top: 9px;
}

.hamburger-menu span:nth-child(3) {
    top: 18px;
}

.hamburger-menu:hover span:nth-child(1) {
    top: 4px;
}

.hamburger-menu:hover span:nth-child(2) {
    top: 9px;
}

.hamburger-menu:hover span:nth-child(3) {
    top: 14px;
}

.hamburger-menu.active span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    top: 9px;
    transform: rotate(-45deg);
}

/* Background of menu options */
.nav-menu {
    position: absolute;
    top: 70px;
    right: 1%;
    background-color: #1d1d1d;
    display: none;    
    border-radius: 2pt;
    border: 1px solid rgb(59, 59, 59);
    background: rgba(19, 19, 19, 0.993);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
}

.nav-menu.active {
    display: block;
}

.nav-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    padding: 15px 20px;
    font-size: 13px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid black; */
}

.nav-menu li:hover {
    background: rgba(0, 0, 0, 0.17);
    cursor: pointer;
}

.nav-login-options-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 30px;
}

.nav-login-options-container > button {
    all: unset;
    cursor: pointer;
}

.nav-login-options-container > .nav-login-btn {
    color: black;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.nav-login-options-container > .nav-signup-btn {
    color: white;
    background-color: transparent;
    font-size: 10px;
    font-weight: 300;
    padding: 3px 10px;
    border-radius: 10px;
    border: 1px solid white;
}

/*

Finish Implement shrinking navbar

.nav.shrunk {
    height: 50px;
    transition: height 0.3s ease;
}

.nav.shrunk .nav-logo-link {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.nav.shrunk .nav-right > *:not(.nav-login-options-container) {
    display: none;
}

.nav.shrunk:hover {
    height: 75px;
}

.nav.shrunk:hover .nav-right > *:not(.nav-login-options-container) {
    display: flex;
}

*/