.nav {
    width: 100%;
    height: 90px;
    max-height: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo-link {
    all: unset;
    cursor: pointer;
    margin-left: 1%;
}

.nav-logo-link h1 {
    font-weight: 700;
}

.nav-right {
    margin: auto;
    margin-right: 1%;
}

.nav-dashboard-link {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-dashboard-link p {
    margin-right: 5px;
}

.nav-dashboard-link #icon {
    font-size: 30px;
}