.workouts-page {
    min-width: 100%;
    min-height: 100vh;
    background-color: #1B1B1B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workouts-page #page-title {
    font-size: 48px;
    margin-bottom: 10px;
}

/* Search.js */
.workouts-search-component {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    height: 34px;
    border-radius: 20px;
    border: solid 1px white;
}

.workouts-search-component input{
    all: unset;
    width: 100%;
    margin-left: 20px;
}

.workouts-search-component button{
    all: unset;
    width: 70px;
    background-color: white;
    border-radius: 0px 20px 20px  0px;
    border-radius: solid 1px white;
    color: #1B1B1B;
    font-size: 21px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.workouts-search-component button #icon{
    position: relative;
    top: 2px;
    right: 2px;
}

/* Display.js */
.workouts-display-component {
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workouts-display-workout {
    width: 250px;
    height: 170px;
    background-color: #2B2B2B;
    border-radius: 10px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.workouts-display-workout:hover {
    color: #2DEDF3;
}

.workouts-display-workout #image {
    border-radius: 10px;
    border: solid 1px #2B2B2B;
    width: 90%;
    height: 70%;
    object-fit: cover;
}

.workouts-display-workout #name {
    margin-top: 7px;
    font-size: 12px;
    font-weight: 400;
}

.workouts-display-workouts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px 100px;
    align-items: center;
    margin-bottom: 30px;
}
  
.workouts-display-workouts-container  > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .workouts-display-workouts-container  {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
  
@media (max-width: 930px) {
    .workouts-display-workouts-container  {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
  
@media (max-width: 630px) {
    .workouts-display-workouts-container  {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}
  
.workouts-display-pagination {
    color: white;
}

.workouts-display-pagination button{
    all: unset;
    margin: 10px;
    cursor: pointer;
}